{% extends 'restaurant/base.html' %}

{% block head %}
DashBoard
{% endblock %}


{% block content %}

<div id="abc">
    <h2 style="text-align:center">Restaurant Dashboard Page.</h2>
    <p style="font-size: 20px; margin: 80px ">
        Welcome to <span style="font-family: Gabriola; font-size: 30px; font-weight:600">Restaurant!</span><span style="font-family: Gabriola; font-style: italic;"> Eat with sukoon</span><br>We are excited to share our passion for delicious food and exceptional service with you. Our chefs use only the freshest ingredients to create dishes that are both innovative and comforting. Join us for a memorable dining experience in the heart of Delhi.<br>
        <br>Make a reservation today and discover why we are one of the best restaurants in town.
    </p>
</div>
{% endblock %}