{% extends 'restaurant/base.html' %}
{%load static%}

{% block head %}
PortFolio
{% endblock %}

{% block content %}

<div id="abc">
    <h2 style="text-align:center">Portfolio</h2>
    <p style="font-size: 20px; margin: 70px ">Hi, I'm Yaman Verma and I'm a Potential full-stack developer.<br>This is my first project using Django ie in this project I primarily focused on a back-end technology so please ignore the over-simplicity of the project because I used Bootstrap for the same.</p>
    <p style="font-size: 20px; margin: 70px ">I got so many hurdles during the journey of web development, therefore I up-skill myself in HTML and CSS as well, and hence one step far from achieving the title of full-stack developer by learning the java-script language which is widely used with CSS.</p>
    <p style="font-size: 20px; margin: 70px ">As a potential full-stack developer, I have a strong understanding of both front-end and back-end technologies. I have experience in developing and maintaining web applications, from design to deployment. My portfolio showcases my ability to work on all stages of the development process and deliver high-quality results.
    </p>
    <h3><b>Skills</b></h3>
    <br><h4 style="text-align: left; margin-left: 70px ">Front-End</h4>
    <details>
        <summary style="text-align: left; margin-left: 70px ">HTML</summary>
        <p style="text-align: left; margin-left: 70px ">HTML short of Hypertext markup language governs the appearance of text/images on the screen.</p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">CSS</summary>
        <p style="text-align: left; margin-left: 70px ">CSS (Cascading Style Sheets) is a style sheet that allows to style different web components for font, size, spacing, etc.</p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">JavaScript(Remaining)</summary>
        <p style="text-align: left; margin-left: 70px ">JavaScript mainly used for enhancing user interaction with the application.</p>
    </details>
    <br><h4 style="text-align: left; margin-left: 70px ">DBMS(Database Management Systems)</h4>
    <details>
        <summary style="text-align: left; margin-left: 70px ">SQL</summary>
        <p style="text-align: left; margin-left: 70px ">SQL (Structured Query Language) is the standard language to maintain and manage a database.</p>
    </details>
    <br><h4 style="text-align: left; margin-left: 70px ">Back-End</h4>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Python</summary>
        <p style="text-align: left; margin-left: 70px ">Python is the most popularly used language.</p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Django</summary>
        <p style="text-align: left; margin-left: 70px ">Django is a high-level Python web framework that enables rapid development of websites.</p>
    </details>
    <br><h4 style="text-align: left; margin-left: 70px ">Version Control</h4>
    <details>
        <summary style="text-align: left; margin-left: 70px ">GitHub</summary>
        <p style="text-align: left; margin-left: 70px ">GitHub (GH) is a UI-based version control platform that runs on Git.</p>
    </details>
    <br><h4 style="text-align: left; margin-left: 70px ">Soft Skills</h4>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Creativity</summary>
        <p style="text-align: left; margin-left: 70px ">The developer must understand the project's objectives and create a product that engages the target audience. </p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Strategic planning</summary>
        <p style="text-align: left; margin-left: 70px ">Planning is a critical phase in any development life-cycle.</p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Analytical skills</summary>
        <p style="text-align: left; margin-left: 70px ">these skills help analyze information accurately and make logical, data-driven decisions that help in maximizing efficiency. Now, these are skills that one develops when they're exposed to it. But a good sense of understanding is required. </p>
    </details>
    <details>
        <summary style="text-align: left; margin-left: 70px ">Problem-solving skills</summary>
        <p style="text-align: left; margin-left: 70px ">Problem-solving skills are again, crucial to predict any errors and develop a bug-free application. From a business perspective, problem-solving skills play a significant role in ensuring the smooth conduction of tasks. </p>
    </details>
    
    <p style="font-size: 20px; margin: 70px "></p>
    <p style="font-size: 20px; margin: 70px "></p>
    <p style="font-size: 20px; margin: 70px "></p>

</div>
<footer>
    <div><h4 style="text-align:center">Created by <b>Yaman Verma</b> |<a href="https://www.linkedin.com/in/yaman-verma-455207145/" target=”_blank”><img src="{% static 'linkedin-logo.png' %}"></a> <br> <img src="{% static 'gmail.png' %}">  yamanv2@gmail.com</h4></div>
</footer>
{% endblock %}